@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap");
@import "../../styles/variables.scss";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  gap: 49px;
  margin: 0 auto;
  padding: 0 20px;

  &__content {
    flex: 1;
    max-width: 567px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 195px;
        height: 1px;
        background-color: $background-line;
      }
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 76px;
    line-height: 84px;
    letter-spacing: -3px;
    color: $text-primary;
    margin-bottom: 28px;
    margin-top: 10px;
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 0.2s;
  }

  &__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $text-tertiary;
    margin-bottom: 44px;
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 0.4s;
    max-width: 491px;

    &-bold {
        font-weight: 600;
        color: $primary-color;
    }
  }

  &__buttons {
    display: flex;
    gap: 22px;
    margin-bottom: 81px;
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 0.6s;
  }

  &__button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1%;
    border-radius: 12px;
    text-transform: uppercase;

    &--primary {
      color: $white-color;
      background-color: $primary-color;
      border: none;
      padding: 18px 31px;
    }

    &--secondary {
      color: $text-primary;
      background-color: transparent;
      border: 2px solid $primary-color;
      padding: 18px 23px;
    }
  }

  &__banner {
    flex: 1;
    max-width: 780px;
    position: relative;
    opacity: 1;

    &-wrapper {
      position: relative;
      width: 100%;
      height: 540px;
    }

    &-main {
      width: 391px;
      height: 395px;
      border-radius: 35px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 24px 24px $shadow-color;
      opacity: 0;
      animation: slideInFromRight 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        forwards;
      animation-delay: 0.2s;
    }

    &-small {
      width: 320px;
      height: 320px;
      border-radius: 22px;
      object-fit: cover;
      position: absolute;
      bottom: 21px;
      right: -160px;
      z-index: 2;
      box-shadow: 0 21px 21px $shadow-color;
      opacity: 0;
      animation: slideInFromRight 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        forwards;
      animation-delay: 0.5s;
    }

    &-points {
      position: absolute;
      top: 0;
      right: -190px;
      z-index: 1;
      opacity: 0;
      animation: fadeIn 1s ease forwards;
      animation-delay: 0.7s;
    }

    &-arrow {
      position: absolute;
      top: 25%;
      left: 80%;
      z-index: 3;
      opacity: 0;
      transform: rotate(93deg);
      animation: fadeInArrow 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
      animation-delay: 0.9s;
      width: 129px;
      height: 129px;
    }
  }
}

.stats {
  display: flex;
  gap: 80px;
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.8s;

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__value {
    font-family: "Public Sans", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: $text-primary;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__label {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $text-label;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInArrow {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
