// Основные цвета
$primary-color: #141416;
$white-color: #FFFFFF;
$background-color: #F9F9F9;

// Текстовые цвета
$text-primary: #141416;
$text-secondary: #64748B;
$text-tertiary: #777E90;
$text-light: #E6E8EC;
$text-footer: #999999;
$text-active: #141416;

// Цвета фонов
$background-dark: #141416;
$background-light: #F9F9F9;
$background-semi-transparent: rgba(249, 249, 249, 0.95);
$background-timer: #1C1D2059;

// Цвета границ
$border-color: #E6E8EC;
$divider-color: rgba(129, 129, 129, 0.25);

// Цвета теней
$shadow-color: rgba(0, 0, 0, 0.1);
$card-shadow: rgba(22, 27, 45, 0.07);
