$primary-color: #141416;
$primary-color-hover: #222222;
$white-color: #FFFFFF;
$white-color-hover: #D7D7D7;
$white-color-hover-secondary: #F2F2F2;
$background-color: #F9F9F9;
$text-primary: #141416;
$text-secondary: #606060;
$text-tertiary: #676767;
$text-label: #848586;
$text-label-secondary: #94A3B8;
$text-label-tertiary: #D4D4D4;
$text-light: #C5C5C5;
$text-footer: #B9B9B9;
$text-footer-secondary: #999999;
$background-dark: #000000;
$background-line: #201F1F;
$background-light: #FFFFFF;
$background-secondary: #FCFCFD;
$background-light-secondary: #F1F1F1;
$background-light-seporator: #E6E8EC;
$background-semi-transparent: rgba(249, 249, 249, 0.95);
$background-timer: #1C1D2059;
$divider-color: #818181;
$shadow-color: rgba(129, 129, 129, 0.3);
$card-shadow: rgba(22, 27, 45, 0.07);

