@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap");
@import "../../styles/variables.scss";

.cards {
  max-width: 100%;
  padding: 70px 0;
  background-color: $background-light-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  @media (max-width: 1439px) {
    padding: 50px 0;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
    max-width: 1246px;

    @media (max-width: 1439px) {
      margin-bottom: 50px;
      max-width: 100%;
    }
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 46px;
    line-height: 48px;
    color: $text-light;

    @media (max-width: 1439px) {
      font-size: 32px;
      line-height: 36px;
    }

    @media (max-width: 1023px) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__scroll-wrapper {
    position: relative;
    margin: 0 -20px;
    padding: 0 20px;
  }

  &__container {
    width: 100%;
    margin-bottom: 70px;

    @media (max-width: 1439px) {
      margin-bottom: 50px;
    }

    .swiper-slide {
      width: 281px;

      @media (max-width: 1439px) {
        width: 210px;
      }
    }

    .swiper-wrapper {
      gap: 40px;

      @media (max-width: 1439px) {
        gap: 32px;
      }
    }
  }

  &__navigation {
    box-shadow: 0px 43px 43px $shadow-color;
    border-radius: 17.25px;
    background-color: $background-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;

    @media (max-width: 1439px) {
      box-shadow: 0px 32px 26px $shadow-color;
      border-radius: 13px;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: $background-light-seporator;
      width: 2px;
      height: 24px;
      position: absolute;

      @media (max-width: 1439px) {
        height: 18px;
      }
    }
  }

  &__arrow {
    padding: 20px 28px;
    border: none;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17.25px;

    @media (max-width: 1439px) {
      border-radius: 13px;
      padding: 15px 21px;
    }

    &--prev {
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/svg/svg_arrow-left.svg");

        @media (max-width: 1439px) {
          width: 18px;
          height: 18px;
        }
      }
    }

    &--next {
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/svg/svg_arrow-left.svg");
        transform: rotate(180deg);

        @media (max-width: 1439px) {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

