@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import '../../styles/variables.scss';

.card {
    background-color: $white-color;
    border-radius: 24px;
    box-shadow: 38px 12px 60px $card-shadow;
    position: relative;
    z-index: 1;
    min-width: 200px;
    flex: 0 0 281px;
    user-select: none;
    scroll-snap-align: center;
    
    &__timer-wrap {
        position: absolute;
        top: 28px;
        right: 25px;
        background-color: $background-timer;
        padding: 10px 0 10px 14px;
        z-index: 2;
        border-radius: 12px;
        width: 120px;
    }

    &__timer {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: $white-color;
    }
    
    &__image-wrap {
        height: 253px;
        width: 253px;
        overflow: hidden;
        position: relative;
        margin: 14px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }

    &__content {
        padding: 14px;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 22px;
        color: $text-primary;
        margin-bottom: 20px;
        line-height: 24px;
    }

    &__price-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price-info {
        display: flex;
        flex-direction: column;
    }

    &__price-label {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $text-label-secondary;
        margin-bottom: 3px;
    }

    &__price-vector-wrap {
        display: flex;
        align-items: center;
    }

    &__price-vector {
        width: 22px;
        height: 22px;
    }

    &__price-value {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16.47px;
        color: $text-primary;
    }

    &__button {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 14.12px;
        color: $text-light;
        background-color: $primary-color;
        border: none;
        border-radius: 12px;
        padding: 14.5px 24.5px;
        text-transform: uppercase;
    }
} 