@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import '../../styles/variables.scss';

.header {
  background-color: $background-light;
  padding-bottom: 170px;
  width: 100%;
  overflow: hidden;

  &__container {
    max-width: 1246px;
    margin: 0 auto;
  }
}
