@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import '../../styles/variables.scss';

.footer {
    background-color: $background-dark;
    color: $white-color;
    padding: 88px 0 86px;

    &__content {
        max-width: 1246px;
        margin: 0 auto;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    &__menu {
        display: flex;
        gap: 70px;
    }

    &__link {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 17.83px;
        line-height: 26.74px;
        color: $text-footer;
        text-decoration: none;
    }

    &__divider {
        height: 1px;
        background-color: $divider-color;
        margin-bottom: 56px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social-links {
        display: flex;
        gap: 42px;
    }

    &__social-link {
        width: 24px;
        height: 24px;
        display: block;

        &--facebook {
            background-image: url('../../../public/svg/svg_fac.svg');
        }

        &--twitter {
            background-image: url('../../../public/svg/svg_twit.svg');
        }

        &--instagram {
            background-image: url('../../../public/svg/svg_inst.svg');
        }

        &--linkedin {
            background-image: url('../../../public/svg/svg_in.svg');
        }
    }

    &__copyright {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: $text-footer-secondary;
    }
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 13px;

    &__icon {
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 130%;
        color: $white-color;
    }
}

