@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap");
@import "../../styles/variables.scss";

.cards {
  max-width: 100%;
  padding: 70px 0;
  background-color: $background-light-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
    max-width: 1246px;
    padding: 0 20px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 46px;
    line-height: 48px;
    color: $text-light;
  }

  &__scroll-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    will-change: transform;
  }

  &__container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    cursor: grab;
    touch-action: pan-x;
    -webkit-overflow-scrolling: touch;
    will-change: transform, scroll-position;
    scroll-snap-type: x mandatory;
    margin-bottom: 70px;
    padding: 0 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    &--dragging {
      cursor: grabbing !important;
      scroll-behavior: auto;

      .card {
        pointer-events: none;
        user-select: none;
      }
    }
  }

  &__navigation {
    box-shadow: 0px 43px 43px $shadow-color;
    border-radius: 17.25px;
    background-color: $background-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: $background-light-seporator;
      width: 2px;
      height: 24px;
      position: absolute;
    }
  }

  &__arrow {
    padding: 20px 28px;
    border: none;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17.25px;

    img {
      width: 24px;
      height: 24px;
    }

    &--prev {
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/svg/svg_arrow-left.svg");
      }
    }

    &--next {
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/svg/svg_arrow-left.svg");
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: 1440px) {
}
